#loading-content {
  position: fixed;
  background: white;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 90px;
  bottom: 0;
  font-size: 90px;
  text-align: center;
  color: #FFFFFF;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto' sans-serif;
    font-weight: 300;
    color: black;
}

@media (min-width: 768px) {
.sidebar-mini.sidebar-collapse .main-header .logo {
    width: 345px;
}

.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 0;
}

}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
    color: #616263;
}


.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 0;
}
.content {
    min-height: 250px;
    padding: 45px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-header { 
  font-size:24px; 
  font-weight:bold; 
  line-height:20px;
  position: fixed;
  /*position: relative;*/
}

.main-header .logo {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.skin-blue .main-header .logo {
  background-color: #3E4965;
  color: black;
  height: 50px;
  position: fixed;
  /* position: absolute;*/
  left: 52px;
  z-index: 1030;
  padding: 0;
  width: 345px
}

.skin-blue .main-header .logo:hover{
  background-color: #3E4965;
  color: black;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #3E4965;
  margin: 0;
}        

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: white;
  position: fixed;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
  background-color: #F0F1F3;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
  background-color: white;
  color: #0e1c3f;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: #F0F1F3; /* passando mouse 
}
        
/* toggle button when hovered  */                    
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: white;
}

/* Body Background */ 
.content-wrapper, .right-side {background-color: white;}

/* Right SideBar Background */
.control-sidebar-dark+.control-sidebar-bg {background: #1A1A1A; color: red;}
.control-sidebar-dark+.nav.nav-tabs.nav-justified.control-sidebar-tabs {background: #1A1A1A; color: red;}
.control-sidebar-dark+.control-sidebar.control-sidebar-dark.control-sidebar-open {background: #1A1A1A; color: red;}